.stage-cube-cont {
    width: 50%;
    height: 50%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
    .jack {
      transform: translateZ(100px);
      color: #dd0031;
    }

